@{
	Layout = "_Layout";
	var currentPage = ViewContext.RouteData.Values["Page"]?.ToString();
	var isIndexPage = currentPage == "/Index";
	var isFileInputPage = currentPage == "/FileInput";
}

<div class="container">
    <div class="card shadow">
        <nav>
            <ul class="card-header nav nav-tabs justify-content-center align-items-baseline flex-wrap pb-0">
                <li class="flex-grow-1 col-md" style="flex-basis: 500px;">
                    <h2 class="text-center text-wrap">Locuciones TIP</h2>
                </li>
                <li class="nav-item">
                    <a class="nav-link@(isIndexPage ? " active" : "")" asp-page="/Index" aria-current="@(isIndexPage ? "page" : null)">
                        <span class="d-none d-sm-inline">Introducir un texto</span>
                        <span class="d-sm-none">Texto</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link@(isFileInputPage ? " active" : "")" asp-page="/FileInput" aria-current="@(isFileInputPage ? "page" : null)">
                        <span class="d-none d-sm-inline">Seleccionar un fichero</span>
                        <span class="d-sm-none">Fichero</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="card-body">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
	@{
		<partial name="Shared/_ValidationScriptsPartial" />
	}
}
