@{
	Layout = "_Layout";
	var currentPage = ViewContext.RouteData.Values["Page"]?.ToString();
	var isIndexPage = currentPage == "/Index";
	var isFileInputPage = currentPage == "/FileInput";
}

<div class="container">
	<h2 class="pb-2 mb-4">Texto a examinar</h2>
	
    <div class="card shadow">
        <nav class="p-0 m-0">
            <ul class="card-header nav nav-tabs justify-content-center pb-0">
                <li class="nav-item">
                    <a class="nav-link@(isIndexPage ? " active" : "")" asp-page="/Index" aria-current="@(isIndexPage ? "page" : null)">
                        <span class="d-none d-sm-inline">Introducir un texto</span>
                        <span class="d-sm-none">Texto</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link@(isFileInputPage ? " active" : "")" asp-page="/FileInput" aria-current="@(isFileInputPage ? "page" : null)">
                        <span class="d-none d-sm-inline">Seleccionar un fichero</span>
                        <span class="d-sm-none">Fichero</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="card-body">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
	@{
		<partial name="Shared/_ValidationScriptsPartial" />
	}
}
