@{
	var currentPage = ViewContext.RouteData.Values["Page"]?.ToString();
	var isIndexPage = currentPage == "/Index";
	var isFileInputPage = currentPage == "/FileInput";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Detector de expresiones y locuciones de la lengua española. Encuentra las expresiones y locuciones en el texto que se introduzca." />
	<meta name="keywords" content="expresiones,locuciones,texto,español,diccionario" />
	<meta name="color-scheme" content="only light" />
    <title>@ViewData["Title"] - Detector de exprs. y locs.</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
<header id="navbar-header" class="fixed-top">
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container">
			<a class="navbar-brand" asp-page="/Index">
				<h1 class="fs-5 fw-normal p-0 m-0 d-none d-sm-inline">
					Detector de expresiones y locuciones
				</h1>
				<h1 class="fs-5 fw-normal p-0 m-0 d-sm-none">
					Detector de 
					<abbr class="text-decoration-none" title="expresiones">exprs.</abbr> 
					y 
					<abbr class="text-decoration-none" title="locuciones">locs.</abbr>
				</h1>
			</a>
			<button 
				class="navbar-toggler" 
				type="button" 
				data-bs-toggle="collapse" 
				data-bs-target="#navbar-supported-content"
                aria-controls="navbar-supported-content"
				aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbar-supported-content" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item">
                        <a 
                            class="nav-link ms-4@(isIndexPage ? " active" : "")" 
                            asp-page="/Index" 
                            aria-current="@(isIndexPage ? "page" : null)">
							Introducir un texto
						</a>
					</li>
					<li class="nav-item">
                        <a 
                            class="nav-link ms-4@(currentPage == "/FileInput" ? " active" : "")" 
                            asp-page="/FileInput" 
                            aria-current="@(isFileInputPage ? "page" : null)">
							Seleccionar un fichero
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<div class="container">
	<main role="main" class="pb-3">
		@RenderBody()
	</main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>