@{
	var currentPage = ViewContext.RouteData.Values["Page"]?.ToString();
	var isIndexPage = currentPage == "/Index";
	var isFileInputPage = currentPage == "/FileInput";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Detector de expresiones y locuciones de la lengua española. Encuentra las expresiones y locuciones en el texto que se introduzca." />
	<meta name="keywords" content="expresiones,locuciones,texto,español,diccionario" />
	<meta name="color-scheme" content="only light" />
    <title>@ViewData["Title"] - Detector de exprs. y locs.</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
<header id="navbar-header">
    <nav class="navbar navbar-light bg-white border-bottom shadow-sm box-shadow mb-3" >
        <div class="container d-flex flex-column flex-sm-row justify-content-around align-items-center gap-3 flex-nowrap py-2">
            <a class="flex-shrink-1" href="https://iatext.ulpgc.es" target="_blank">
                <img 
                    src="~/assets/iatext-ulpgc-logo.png"
                    alt="Logos de la ULPGC y el IATEXT"
                    height="60"
                    style="max-width: 100%; height: auto; max-height: 60px;" />
            </a>
            <a class="flex-shrink-1" href="https://www.clariah.es" target="_blank" rel="noreferrer">
                <img 
                    src="~/assets/clariah-es-logo.png"
                    alt="Logo de CLARIAH-ES"
                    height="60"
                    style="max-width: 100%; height: auto; max-height: 60px;" />
            </a>
        </div>
    </nav>
</header>

<div class="container">
	<main role="main" class="pb-3">
		@RenderBody()
	</main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>