@{
	Layout = "_Layout";
	var isIndexActive = ViewContext.RouteData.Values["Page"]?.ToString() == "Index";
}


<div class="container">
	<h1>Texto a examinar</h1>

	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link @(isIndexActive ? "active" : "")" asp-page="/Index">Introducir un texto</a>
		</li>
		<li class="nav-item">
			<a class="nav-link @(isIndexActive ? "" : "active")" asp-page="/Index">Seleccionar un fichero</a>
		</li>
	</ul>

</div>

@section Scripts {
	@{
		<partial name="Shared/_ValidationScriptsPartial" />
	}
}
