.user-text-paragraph {
    white-space: pre-line;
    text-wrap: wrap;
    word-break: break-word;
    border-style: dashed !important;
    padding: 0.6rem 1rem;
}

.selected-phrase-card {
    outline: 0.25rem solid rgba(49, 132, 253, 0.5);
}

.selected-phrase-link {
    color: var(--theme-primary) !important;
}
