html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    padding-top: 90px;
    margin-bottom: 60px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        padding-top: 100px;
    }
}

@media print {
    header {
        display: none;
    }

    body {
        padding-top: 20px;
    }
}
