html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    padding-top: 90px;
    padding-bottom: 40px;
}

@media only screen and (max-width: 575px) {
    body {
        padding-top: 70px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        padding-top: 100px;
    }
}

@media print {
    #navbar-header {
        display: none;
    }

    body {
        padding-top: 20px;
    }
}

.fw-medium {
    font-weight: 500;
}

.fw-semibold {
    font-weight: 600;
}

.back-button:hover {
    background-color: var(--bs-light);
}
