@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">Error.</h2>
<h3 class="text-danger">
    Lo lamentamos, se ha producido un error inesperado mientras se procesaba su petición.
</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID de la petición:</strong> <code>@Model.RequestId</code>
    </p>
}
