@page
@model FileInputModel
@{
	Layout = "_InputLayout";
	ViewData["Title"] = "Seleccionar un fichero";
}

<form method="post" enctype="multipart/form-data" class="d-flex flex-column">
	<p class="text-center">
		Seleccione un fichero de texto plano para detectar todas las expresiones y locuciones que contenga:
	</p>
	<input asp-for="TextFile" type="file" class="form-control mx-auto" style="max-width: 300px">
	<span asp-validation-for="TextFile" class="text-danger text-center mt-3 mx-1"></span>
	<div asp-validation-summary="ModelOnly" class="text-danger text-center mx-1"></div>
	<div class="d-flex flex-row mx-3 m-3 justify-content-around justify-content-md-center gap-md-5">
		<button type="reset" class="btn btn-outline-danger">
			Restablecer
		</button>
		<button type="submit" class="btn btn-primary">
			Confirmar
		</button>
	</div>
</form>
