@page
@model IndexModel
@{
	Layout = "_InputLayout";
    ViewData["Title"] = "Introducir un texto";
}

<form method="post" class="d-flex flex-column">
	<label class="text-center mb-3" for="text">
		Introduzca un texto para detectar todas las expresiones y locuciones que contenga:
	</label>
    <textarea id="text" asp-for="Text" class="form-control" placeholder="En algún lugar de la mancha, ..." rows="20"></textarea>
    <span asp-validation-for="Text" class="text-danger mt-3 mx-1 mx-sm-3"></span>
	<div asp-validation-summary="ModelOnly" class="text-danger mt-3 mx-1 mx-sm-3"></div>
    <div class="d-flex flex-row m-3 justify-content-around justify-content-md-center gap-md-5">
	    <button type="reset" class="btn btn-outline-danger">
		    Restablecer
	    </button>
	    <button type="submit" class="btn btn-primary">
		    Confirmar
	    </button>
    </div>
</form>
